In [18]:
import sweetviz as sv
import pandas as pd
import numpy as np
import datetime as datetime
import os, sys, re

In [3]:
INPUT_DIR = "data"
train_df = pd.read_csv(os.path.join(INPUT_DIR, "train.csv"), dtype=str)
test_df = pd.read_csv(os.path.join(INPUT_DIR, "test.csv"), dtype=str)
print("Train: ", train_df.shape, "| Test: ", test_df.shape)
print("-"*50)

Train:  (53030, 195) | Test:  (20381, 194)
--------------------------------------------------

### Analyze

In [4]:
advert_report = sv.analyze(train_df[: 9])
advert_report.show_html("Advertising.html")

:FEATURES DONE:                    |                     | [  0%]   00:15  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

#### Tổng số thuộc tính là số và không phải là số

In [5]:
count = [1 for i in train_df.columns if train_df[i].dtypes== "int64" or train_df[i].dtypes=="float64"]
print("Tổng giá trị thuộc kiểu số là ", sum(count), "\nKhông phải giá trị số là ", len(train_df.columns)-sum(count))

Tổng giá trị thuộc kiểu số là  0
Không phải giá trị số là  195

In [17]:
train_df.describe()

,id,label,Field_1,Field_2,Field_3,Field_4,Field_5,Field_6,Field_7,Field_8,...,partner5_H,partner5_K,partner5_L,brief,num_of_phone,Field_78,Field_79,Field_80,Field_81,Field_82
count,53030,53030,25564,25564,25564,25564,25546,25546,25564,25564,...,48283,48283,48283,52778,50518,36397,27782,36320,35981,53030
unique,53030,2,21506,18667,2,2,1901,1870,1199,1392,...,1,1,1,20,5,427,11054,2839,421,4
top,11756,0,2017-03-24T20:10:37.62Z,2017-03-24T20:10:37.62Z,2,T1,2018-12-27,2018-12-27,2019-01-01,2019-12-31,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,1
freq,1,36234,264,261,13771,13878,1102,1198,8814,10547,...,48283,48283,48283,13704,46317,3367,981,2619,13533,36251

### Hàm biểu diễn giá trị từng cột